* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  overflow-x: hidden;
}

.small-text {
  font-size: 0.8rem;
  opacity: 0.8;
}

#logout:hover:not(:disabled) {
    background: #f80909;
    color: #000;
    box-shadow: 0 0 20px #fc03fc;
    transform: translateY(-2px);
}

#logout:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}